{% extends 'status/base.html' %}

{% block title %} console | hod {% endblock %}

{% block content %}


<div class="admin-page">
      <div class="row">
        <div class="col-9">

          <div class="project-progress">

            {% for project in projects %}
              <button type="button" class="collapsible">{{project.name}}</button>
          <div class="collapsible-content">
          
                <div class="table-class">
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Staff</th>
                          <th scope="col">Drawing</th>
                          <th scope="col">Progress</th>
                          <th scope="col" >Screenshot</th>
                          <th scope="col" >Uploaded On</th>

                  
                  
                        </tr>
                      </thead>
                      
                    {% for p in progress %}
                      {% if p.project.name == project.name %}              

                          <tbody>
                            <tr>
                              <td>{{p.project.assigned_to}}</td>
                              <td>{{p.drawing}}</td>
                              <td>
                                  {% if p.progress <= 50 %}
                                  <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                                  </div>
                                  <br>
                                  {% elif p.progress > 50 and p.progress <= 75 %}
                                  <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                                  </div>
                                  <br>
                                  {% else %}
                                  <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                                  </div>
                                  <br>
                                  {% endif %}
                              </td>
                              <td>
                                <a href="{{p.image.url}}" target="_blank" alt="">
                                  <img src="{{p.image.url}}" class="progress-screenshot">
                                </a>
                              </td>
                              <td>{{p.upload_date}}</td>

                      
                            </tr>
                          </tbody>
                        {% endif %}
                    {% endfor %}

                  </table>
                </div>
              </div>
          {% endfor %}
          
          
          </div>
      </div>
      <div class="col-3">
        <div class="project-card">
          <div class="card bg-light border-dark" style="width: 32rem; height: 25rem;">
            <div class="card-header">
              Project Control
                <div class="new-instance">
                    <a href="{% url 'new-project' %}" class="btn btn-dark">New Project</a>
                </div>
            </div>
            <div class="table-class-admin">
              <table class="table">
                <tr>
                  <th scope="col">Project</th>
                  <th scope="col">Staff</th>
                  <th scope="col">Deadline</th>

                </tr>
              </table>
            </div>

            <div class="scroll">
              <div class="table-class-admin table-striped">
                <table class="table">
                    {% for project in projects %}
                          <tr>
                            <td><a href="{% url 'project-detail' project.slug %}">{{project.name}}</a></td>
                            <td>{{project.assigned_to}}</td>
                            <td class="btn btn-sm text-light" style="margin: 3px 2px; height: 40px; background-color:{{project.get_remaining_days}}">{{project.deadline}}</td>                   
                          </tr>
                    {% endfor %}
                  </table>
              </div>
            </div>
          </div>
        </div>  

        <div class="user-card">
          <div class="card bg-light border-dark" style="width: 32rem; height: 25rem;">
            <div class="card-header">
              Staff Control
                <div class="new-instance">
                   <a href="{% url 'register' %}" class="btn btn-dark">New Staff</a>
                </div>
            </div>
            <div class="table-class-admin">
              <table class="table">
                <tr>
                  <th scope="col">Staff</th>
                  <th scope="col">Level</th>
                  <th scope="col">Last Login</th>
                </tr>
              </table>
            </div>

            <div class="scroll">
              <div class="table-class-admin table-striped">
                <table class="table">
                    {% for staff in staffs %}
                          <tr>
                            <td><a href="{% url 'user-detail' staff.username %}">{{staff.name}}</a></td>
                            <td>{{staff.designation}}</td>
                            <td>{{staff.last_login}}</td>                   
                          </tr>
                    {% endfor %}
                  </table>
              </div>
            </div>
        </div>  
      </div>

    </div>
  </div>

</div>
{% endblock %}

