{% extends 'status/base.html' %}

{% block title %} console | hod {% endblock %}

{% block content %}
<div class="controls">
  <div class="admin-controls">
    <a href="#" class="btn btn-success">New Project</a>
    <a href="#" class="btn btn-warning">New Staff</a>
  </div>
</div>


{% for project in projects %}
 


 <button type="button" class="collapsible">{{project.name}}</button>
 <div class="collapsible-content">
  
      <div class="table-class">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Staff</th>
                <th scope="col">Drawing</th>
                <th scope="col">Progress</th>
                <th scope="col" >Screenshot</th>
        
        
              </tr>
            </thead>
            
          {% for p in progress %}
            {% if p.project.name == project.name %}

              

                <tbody>
                  <tr>
                    <td>{{p.project.assigned_to}}</td>
                    <td>{{p.drawing}}</td>
                    <td>
                        {% if p.progress <= 50 %}
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                        </div>
                        <br>
                        {% elif p.progress > 50 and p.progress <= 75 %}
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                        </div>
                        <br>
                        {% else %}
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                        </div>
                        <br>
                        {% endif %}
                    </td>
                    <td>
                      <a href="{{p.image.url}}" target="_blank" alt="">
                        <img src="{{p.image.url}}" class="progress-screenshot">
                      </a>
                    </td>
            
                  </tr>
                </tbody>
              {% endif %}
          {% endfor %}

        </table>
      </div>
    </div>
{% endfor %}


{% endblock %}

