{% extends 'status/base.html' %}

{% block title %} {{user.name}} | hod {% endblock %}

{% block content %}

<a href="{% url 'new-progress' %}" class="btn btn-m btn-success" style="margin-top: 10px;">Add Progress</a>

<div class="table-class">
<table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">Sl No</th> -->
        <th scope="col">Project</th>
        <th scope="col">Drawing</th>
        <th scope="col">Progress</th>
        <th scope="col">Screenshot</th>

      </tr>
    </thead>

    {% for p in progress %}
        {% if user == p.project.assigned_to %}

        {% if p.is_removed == False %}
        <tbody>
            <tr  class="progress-wrap">
              <td>{{p.project.name}}</td>
              <td>{{p.drawing}}</td>
              <td>
                  {% if p.progress <= 50 %}
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                  </div>
                  <br>
                  {% elif p.progress > 50 and p.progress <= 75 %}
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                  </div>
                  <br>
                  {% else %}
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{p.progress}}%">{{p.progress}}%</div>
                  </div>
                  <br>
                  {% endif %}
              </td>
              <td>
                <a href="{{p.image.url}}" alt="">
                  <img src="{{p.image.url}}" class="progress-screenshot alt="">
                </a>
              </td>
      
            </tr>
          </tbody>
        {% endif %} <!--curent user-->

        {% endif %} <!--is_removed-->

        
    {% endfor %}


{% endblock %}