{% extends 'status/base.html' %}
{% load static %}

{% block title %} hod | users {% endblock %}

{% block content %}

<div class="table-class">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Staff</th>
            <th scope="col">Level</th>
            <th scope="col">Superuser</th>
          </tr>
        </thead>


        {% for user in object_list %}

          

            <tbody>
              <tr>
                <td><a href="{% url 'user-detail' user.pk %}">{{user.name}}</a></td>
                <td>{{user.designation}}</td>
                <td>{{user.is_superuser}}</td>
       
              </tr>
            </tbody>
      {% endfor %}


{% endblock %}