<!DOCTYPE html>
<body>
    
        <div style="width: 550px; height: 575px; float: none; background-color: #fcfcfc; border-radius: 10px; border: 1px solid #262626; margin: auto; max-width: 30rem;">
            <div>
            <a href="https://hodd.in" target="_blanc"><img width="180px" src="https://drive.google.com/uc?id=1K0MHvhzHdMC37GV61F_Vk302LFyl82uI" class="img-fluid rounded-start" alt="logo" style="padding-left: 150px; padding-top: 10px;"></a>
            </div>
            <div style="padding-left: 25px;">
                <div style="padding-left: 20px; padding-right: 10px;">
                    <h5 style="font-weight: 900; font-size: 28px;">reset password | hod</h5>
                    <div style="font-size: 16px;">
                        <p>hello {{ user.name|default:user.email}},</p>

                        <p>we're sending you this email because you requested a password reset for your account</p>
                
                        <p>your username is <strong>{{ user.username }}</strong></p>
                
                        <p>click on the link below to reset your password</p>
                    
                    </div>

                    <!-- <div style="color: #262626; font-size: 15px;">
                        Hello {{ user.name|default:user.email}},
                        <br>
                        You're receiving this email because you requested a password reset for your account at <strong>hod</strong>.
                        <br><br>
                        Your username is <strong>{{ user.username }}</strong>
                        <br><br>
                        Please click on the link below to reset your password
                    </div> -->
                </div>
                <div style="padding-left: 10px; padding-top: 20px;">
                    <a style="color:#fff;padding:10px 20px;background-color: #262626;text-decoration:none;" href="https://hodd.in" target="_blanc">Set password</a>
                  </div>

            </div>  
            </div>
        </div>

</body>
</html>

