{% extends "status/base.html" %}

{% block title %} new user | hod {% endblock %}

{% load static %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="login-logo">
	<img src="{% static '/images/logo.jpg' %}" alt="">
	
  </div>
  
  
  <div class="reg-container h-100">
	<div class="d-flex justify-content-center h-100">
	  <div class="reg_card">
		<div class="d-flex justify-content-center">
		  <h3 id="form-title">add new user</h3>
		</div>
		<div class="d-flex justify-content-center form_container">
		  <form method="POST" action="">
				{% csrf_token %}
				
				<div class="input-group mb-3">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i>name</span>
					</div>	
					<input type="text" name="name" placeholder="" class="form-control">
				</div>
	
				<div class="input-group mb-3">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i>username</span>
					</div>
					<input type="text" name="username" placeholder="" class="form-control">
				</div>
	
				<div class="input-group mb-3">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i>email</span>
					</div>	
					<input type="text" name="email" placeholder="" class="form-control">
				</div>
	
				<div class="input-group mb-3">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i>password</span>
					</div>	
					<input type="password" name="password1" placeholder="" class="form-control">
				</div>
	
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-unlock"></i>password</span>
					</div>	
						<input type="password" name="password2" placeholder="" class="form-control" >
				</div>
	
				<div class="d-flex justify-content-center mt-3 login_container">
					<input class="btn login_btn" type="submit" value="add user">

				</div>


		{% if form.non_field_errors %}
		<div class="login-error d-flex justify-content-center mt-3 btn btn-outline-danger">
			{{form.non_field_errors}}
		</div>
		{% endif %}

		<!--{{ register_form|crispy }} -->
				
		  </form>
  
		</div>
	  </div>
	</div>
  </div>
  
  

{% endblock %}



