html body {
    background-color: #fcfcfc;
}

a{
	text-decoration: none;
}

.base-container{
	margin-left: 10%;
	margin-right: 10%;
}

.table-class{
    margin-top: 2rem;
	display: flex;
	align-items: center;
}

.progress{
	height: 1.5rem;
	width: 20rem;
}

.progress-bar{
	color: #000000;
	font-size: 1rem;
	font-weight: bolder;
}
 

.card{
	height: 10rem;
	width: 18rem;
	background-color: #f7f7f7;
	color: black;
}

.card-header{
	font-size: 28px;
	font-weight: bold;
}


.login-container{
	position: absolute;
 
    right: 15rem;
	bottom: 3rem;
}

.user_card {
	width: 420px;
	height: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #aaaaaa;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;

}

.form_container {
	margin-top: 20px;
}


#form-title{
	color: #fff;
	font-weight: bolder;
	
}

.login_btn {
	width: 100%;
	background: #262626 !important;
	color: white !important;
	font-weight: bolder;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #5a5a5a !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login-logo img{
	position: absolute;
	height: 75%;
	top: 5rem;
	left: 10rem;
}

.login-error{
	color: #c00606;
	font-weight: 900;
}

.progress-screenshot{
	width: 192px;
	height: 108px;
}	

.table td, .table th{
	vertical-align: middle;
}

.logout{
	display: flex;
}

.logout-btn{
	margin-left: 10px;
}

.logout .user-name{
	color: white;
	font-weight: 700;
	display: flex;
	align-items: center;
}


.controls{
	margin-top: 10px;
}

.admin-controls{
	margin-left: auto;
	margin-right: 0;
}


.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 800;

}

.collapsible:hover {
  background-color: #ccc;
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.nav-brand{
	margin-left: 20px;
}