
.table-class{
    margin-top: 2rem;
}

.progress{
  height: 1.5rem;
}

.progress-bar{
  color: #000000;
  font-size: 1rem;
  font-weight: bolder;
}
 

.card .progress{
  height: 2rem;
}


.card{
  background-color: #f7f7f7;
}